.about {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }
}

.Fredoka {
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
  font-weight: 350;
  line-height: 28px;
  max-width: 500px;
}

.fromLeft,
.fromRight {
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  will-change: transform, opacity;
}

.fromLeft {
  transform: translateX(-40px);
}
.fromRight {
  transform: translateX(40px);
}

.in .fromLeft,
.in .fromRight,
.inDelayed .fromLeft,
.inDelayed .fromRight {
  opacity: 1;
  transform: translateX(0);
}

.inDelayed .fromLeft,
.inDelayed .fromRight {
  transition-delay: 450ms;
}

.flipCard {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flipInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flipCard:hover .flipInner {
  transform: rotateY(180deg);
}

.flipFront,
.flipBack {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
}

.flipBack {
  transform: rotateY(180deg);
}
