.iconBar {
    position: absolute;
    top: 25px;
    left: 30px;
    display: flex;
    gap: 15px;
    a {
        color: black;
        transition: transform 0.2s ease, color 0.2s ease;

        &:hover {
            transform: scale(1.15);
        }
    }
}

.iconBar a svg {
    font-size: 20px;
    stroke-width: 1.5px;
}