.iconBar {
    position: absolute;
    top: 27px;
    left: 32px;
    display: flex;
    gap: 22px;
    a {
        color: rgb(97, 88, 80);
        transition: transform 0.2s ease, color 0.2s ease;

        &:hover {
            transform: scale(1.15);
        }
    }
}

.iconBar a svg {
    font-size: 23px;
    stroke-width: 1.8px;
}