.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  height: 3px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
  z-index: 10;
}
 
.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(3px, 1px);
}
.open .bar:nth-child(2) {
  opacity: 0;
}
.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(241, 217, 221);
  border-bottom-left-radius: 300px;
  z-index: 9;
  display: none;
  transform: scale(0);
  transform-origin: top right;
  pointer-events: none;
}

.showMenu {
  display: block;
  animation: boingOut 0.5s ease-out forwards;
  pointer-events: auto;
}

.hideMenu{
  display: block;
  animation: boingIn 0.4s ease-out forwards;
  pointer-events: none;

}

@keyframes boingOut {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes boingIn {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0);
  }
}

.menuItem {
  padding: 10px 0;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menuItem:hover {
  background-color: rgb(242, 174, 185);
  font-weight: 600;
}
