.navWrapper {
  display: flex;
  justify-self: flex-end;
}

.hamburger {
  position: absolute;
  top: 40px;
  right: 37px;
  width: 29px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  .bar {
    height: 3px;
    background-color: #615850;
    border-radius: 0;
    transition: all 0.3s ease;
    z-index: 10;
  }

  &.open {
    .bar {
      background-color: white;

      &:nth-child(1) {
        transform: rotate(45deg) translate(2px, 1px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -10px);
      }
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 200px;
  margin: 0;
  list-style: none;
  background-color: #8189aa;
  border-bottom-left-radius: 300px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 65px;
  padding-left: 30px;
  transform: scale(0);
  transform-origin: top right;
  pointer-events: none;
}

.showMenu {
  display: block;
  animation: boingOut 0.5s ease-out forwards;
  pointer-events: auto;
}

.hideMenu {
  display: block;
  animation: boingIn 0.4s ease-out forwards;
  pointer-events: none;
}

@keyframes boingOut {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.15);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes boingIn {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.15);
  }

  80% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0);
  }
}

.menuItem {
  font-family: "Gaegu", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  height: 30px;
  position: relative;
  text-decoration: none;
  display: block;
  width: max-content;
  margin: 0 auto;
  padding-left: 35px;
  transition: letter-spacing 0.1s ease;

  &:hover {
    letter-spacing: 1px;
    &::before {
      width: 60%;
      border-radius: 30%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 33px;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #9ca4bf, #c8cddb);
    border-radius: 0;
    transition: all 0.3s ease-in-out;
  }
}
