.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2000; /* keeps hamburger above menu */
}

.bar {
  height: 3px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animate to X */
.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(3px, 1px);
}
.open .bar:nth-child(2) {
  opacity: 0;
}
.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: pink;
  border-radius: 0 0 0 250px;
  z-index: 1000; /* under hamburger */
  display: none;
}

.showMenu {
  display: block;
}

.menuItem {
  padding: 10px 0;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menuItem:hover {
  background-color: rgb(242, 174, 185);
  font-weight: 600;
}
