.skills {
    padding: 20px;
    text-align: center;

    .title {
        @extend .gaegu;
        font-size: 20px;
    }
}

.group {
    margin-bottom: 30px;

    h2 {
        @extend .gaegu;
        font-size: 18px;
        margin-bottom: 0px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;

    span {
        @extend .gaegu;
        font-size: 14px;
        margin-top: 5px;
    }
}

.iconWrapper {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.lilypad1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.lilypad2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.icon {
    position: relative;
    font-size: 40px;
    z-index: 1;
    margin-bottom: 65px;
}

.gaegu {
    font-family: "Gaegu", sans-serif;
    font-style: normal;
}