.crumbs {
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 13;
}

.item {
  all: unset;
  cursor: pointer;
}

.icon {
  width: 35px;
  height: 35px;
  transition: transform 120ms ease, opacity 120ms ease;

  &:hover {
    transform: scale(1.06);
  }

  .active {
    transform: scale(1.1);
  }
}

@media (max-width: 600px), (max-height: 600px) {
  .crumbs {
    gap: 10px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 400px), (max-height: 400px) {
  .crumbs {
    gap: 5px;
  }

  .icon {
    width: 15px;
    height: 15px;
  }
}