.crumbs {
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  all: unset;
  cursor: pointer;
}

.icon {
  width: 35px;
  height: 35px;
  transition: transform 120ms ease, opacity 120ms ease;
}

.icon:hover {
  transform: scale(1.06);
}
.active {
  transform: scale(1.1);
}
