$primary-color: #FCFAEE;
$border-thickness: 80px;

.body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: hidden;
  background-color: #A5B68D;
}

.scrollSnapContainer {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snapSection {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  position: absolute;
  top: $border-thickness;
  left: $border-thickness;
  right: $border-thickness;
  bottom: $border-thickness;
  padding: 50;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: $primary-color;
  border-radius: 20px;
}



// @media (max-width: 900px) {
//   $border-thickness: 30px;

//   .leftBorder, .rightBorder {
//     width: $border-thickness;
//   }
//   .topBorder, .bottomBorder {
//     height: $border-thickness;
//   }
//   .container {
//     top: $border-thickness;
//     left: $border-thickness;
//     right: $border-thickness;
//     bottom: $border-thickness;
//     padding: 16px;
//     border-radius: 10px;
//   }
// }

// @media (max-width: 600px) {
//   $border-thickness: 40px;

//   .leftBorder, .rightBorder {
//     width: $border-thickness;
//   }
//   .topBorder, .bottomBorder {
//     height: $border-thickness;
//   }
//   .container {
//     top: $border-thickness;
//     left: $border-thickness;
//     right: $border-thickness;
//     bottom: $border-thickness;
//     padding: 6px;
//     border-radius: 6px;
//   }
// }
