$border-thickness: 80px;

.body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #c8c9d6;
}

.scrollSnapContainer {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.snapSection {
  min-height: calc(100vh - 160px);
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.container {
  position: absolute;
  top: $border-thickness;
  left: $border-thickness;
  right: $border-thickness;
  bottom: $border-thickness;
  background-color: #f6f6f1;
  border-radius: 20px;
  overflow: hidden;
  
  display:flex;
  flex-direction: column;
}

@media (max-width: 600px), (max-height: 600px) {
  .snapSection {
    min-height: calc(100vh - 80px);
  }

  .container {
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
  }
}

@media (max-width: 400px), (max-height: 400px) {
  .snapSection {
    min-height: calc(100vh - 80px);
  }
  
  .container {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
}
