$primary-color: #FCFAEE;
$border-thickness: 80px;

.body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-color: #A5B68D;
}

// .border-x {
//   position: fixed;
//   width: 100vw;
//   height: $border-thickness;
//   //  z-index: 100;
//   pointer-events: none;
//   background-size: cover;
//   background-image: url("~assets/images/TBborder.png");
// }

// .topBorder {
//   @extend .border-x;
//   top: 0;
// }

// .bottomBorder {
//   @extend .border-x;
//   bottom: 0;
// }

// .border-y {
//   position: fixed;
//   width: $border-thickness;
//   height: 100vh;
//   //  z-index: 100;
//   pointer-events: none;
//   background-size: cover;
//   background-image: url("~assets/images/LRborder.png");
// }

// .leftBorder {
//   @extend .border-y;
//   left: 0;
// }

// .rightBorder {
//   @extend .border-y;
//   right: 0;
// }

.container {
  position: absolute;
  top: $border-thickness;
  left: $border-thickness;
  right: $border-thickness;
  bottom: $border-thickness;
  padding: 50;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: $primary-color;
  border-radius: 20px;
}

// @media (max-width: 900px) {
//   $border-thickness: 30px;

//   .leftBorder, .rightBorder {
//     width: $border-thickness;
//   }
//   .topBorder, .bottomBorder {
//     height: $border-thickness;
//   }
//   .container {
//     top: $border-thickness;
//     left: $border-thickness;
//     right: $border-thickness;
//     bottom: $border-thickness;
//     padding: 16px;
//     border-radius: 10px;
//   }
// }

// @media (max-width: 600px) {
//   $border-thickness: 40px;

//   .leftBorder, .rightBorder {
//     width: $border-thickness;
//   }
//   .topBorder, .bottomBorder {
//     height: $border-thickness;
//   }
//   .container {
//     top: $border-thickness;
//     left: $border-thickness;
//     right: $border-thickness;
//     bottom: $border-thickness;
//     padding: 6px;
//     border-radius: 6px;
//   }
// }
