$border-thickness: 70px;

.border-x {
  position: fixed;
  width: 100vw;
  height: $border-thickness;
  pointer-events: none;
  background-size: cover;
  background-image: url("../../assets/images/TBborder.png");
}

.topBorder {
  @extend .border-x;
  top: 0;
}

.bottomBorder {
  @extend .border-x;
  bottom: 0;
}

.border-y {
  position: fixed;
  width: $border-thickness;
  height: 100vh;
  pointer-events: none;
  background-size: cover;
  background-image: url("../../assets/images/LRborder.png");
}

.leftBorder {
  @extend .border-y;
  left: 0;
}

.rightBorder {
  @extend .border-y;
  right: 0;
}