$borderY: 85px;
$borderX: 85px;

.topBorder,
.bottomBorder,
.leftBorder,
.rightBorder {
  position: fixed;
  pointer-events: none;
}

.topBorder {
  top: 0;
  left: 0;
  right: 0;
  height: $borderY;
  background: url("../../assets/images/TBorder.png") repeat-x top center;
  background-size: auto 175px;
}
.bottomBorder {
  bottom: 0;
  left: 0;
  right: 0;
  height: $borderY;
  background: url("../../assets/images/BBorder.png") repeat-x bottom center;
  background-size: auto 175px;
}

.leftBorder {
  top: 0;
  bottom: 0;
  left: 0;
  width: $borderX;
  background: url("../../assets/images/LBorder.png") repeat-y center left;
  background-size: 175px auto;
}
.rightBorder {
  top: 0;
  bottom: 0;
  right: 0;
  width: $borderX;
  background: url("../../assets/images/RBorder.png") repeat-y center right;
  background-size: 175px auto;
}
