.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bannerImage{
  width: 100px;
  height: 100px;
  padding: 24px;

  @media (max-width: 600px) {
    display: none;
  }
}

.textContainer h1 {
  font-size: 50px;
  margin: 0;
}

.textContainer p {
  font-size: 30px;
  margin-top: 10px;
}

.gaegu {
  font-family: "Gaegu", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 600px) {
  .textContainer h1 {
    font-size: 30px;
  }
  .textContainer p {
    font-size: 20px;
  }
}