.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  text-align: center;
}

.textContainer h1 {
  font-size: 5rem;
  margin: 0;
}

.textContainer p {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.gaegu {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
